.App {
  text-align: center;
}

.App-body {
  background-color: rgb(83, 74, 49);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

h1 {
  font-family: "Lucida Bright", Georgia, serif;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 40px;
}

.header {
  font-family: "Lucida Bright", Georgia, serif;
  font-size: 45px;
  font-style: normal;
  font-variant: normal;
  width: 100%;
  font-weight: 400;
  line-height: 40px;
  height: 50px;
  background-color: rgb(52, 167, 71);
  color: white;
  position: fixed;
}

.footer {
  background-color: rgb(52, 167, 71);
  height: 70px;
  padding: 20px;
  color: white;
  position: static;
  text-align: center;
  font-size: 20px;
  margin-top: 0px;
  width: 100%;
  display: inline-block;
  left: 300px;
}
